          {
            "log_group_name": "MSSQL/ERRORLOG",
            "log_stream_name": "{instance_id}",
            "file_path": "$$Env:ProgramFiles\\Microsoft SQL Server\\MSSQL.*\\MSSQL\\LOG\\ERRORLOG*",
            "timestamp_format": "%Y-%m-%d %H:%M:%S",
            "encoding": "utf-8"
          }
