          {
            "log_group_name": "oracle/alert/MV",
            "log_stream_name": "{instance_id}",
            "file_path": "D:\\oracle\\ora11g\\diag\\rdbms\\mv\\mv\\alert\\log.xml"
          },
          {
            "log_group_name": "oracle/alert/MVT",
            "log_stream_name": "{instance_id}",
            "file_path": "D:\\oracle\\ora11g\\diag\\rdbms\\mvt\\mvt\\alert\\log.xml"
          },
          {
            "log_group_name": "oracle/trace/MV",
            "log_stream_name": "{instance_id}",
            "file_path": "D:\\oracle\\ora11g\\diag\\rdbms\\mv\\mv\\trace\\alert_mv.log"
          },
          {
            "log_group_name": "oracle/trace/MVT",
            "log_stream_name": "{instance_id}",
            "file_path": "D:\\oracle\\ora11g\\diag\\rdbms\\mvt\\mvt\\trace\\alert_mvt.log"
          },
          {
            "log_group_name": "oracle/tnslsnr/trace",
            "log_stream_name": "{instance_id}",
            "file_path": "D:\\oracle\\ora11g\\diag\\tnslsnr\\EC2AMAZ-8G6QBO5\\listener\\trace\\listener.log"
          },
          {
            "log_group_name": "oracle/tnslsnr/alert",
            "log_stream_name": "{instance_id}",
            "file_path": "D:\\oracle\\ora11g\\diag\\tnslsnr\\EC2AMAZ-8G6QBO5\\listener\\alert\\log.xml"
          }
