      "HTTP Service Request Queues":  {
        "measurement": [
          "CurrentQueueSize"
        ],
        "metrics_collection_interval": 60
      },
      "WebService": {
        "measurement": [
          "TotalMethodRequestsPerSec"
        ],
        "metrics_collection_interval": 60
      },
      "TCPv4": {
        "measurement": [
          "Connections Established"
        ],
        "metrics_collection_interval": 60
      }
