          {
            "log_group_name": "IIS/W3SVC",
            "log_stream_name": "{instance_id}",
            "file_path": "C:\\inetpub\\logs\\LogFiles\\W3SVC*\\**.log",
            "timezone": "UTC",
            "timestamp_format": "%Y-%m-%d %H:%M:%S",
            "encoding": "utf-8"
          }
